.filter__list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }

  &--portfolio {
    margin-bottom: 50px;
  }
}

.filter__item {
}
