.hero {
  background-color: $bg-color-hero;
}

.hero__wraper {
  margin: 0 auto;
  max-width: 1600px;
  height: 400px;

  background-image: linear-gradient(
      to bottom,
      $bg-gradient-hero,
      $bg-gradient-hero
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;

    @media screen and (min-width: $desktop) {
      height: 600px;
    }
  }

  @media screen and (min-width: $desktop) {
    height: 600px;
  }
}

.hero__title {
  margin: 0 auto 30px auto;
  max-width: 360px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $color-txt-alternative;

  @media screen and (min-width: $desktop) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
