.hero {
  background-color: $bg-color-hero;
}

.hero__wraper {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  height: 400px;

  background-image: $bg-gradient, url(../images/mobile/bg-x1.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $bg-gradient, url(../images/mobile/bg-x2.jpg);
  }

  //481
  // 769

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;

    @media screen and (min-width: $desktop) {
      height: 600px;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: $bg-gradient, url(../images/tablet/bg-x1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $bg-gradient, url(../images/tablet/bg-x2.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    height: 600px;
    background-image: $bg-gradient, url(../images/desktop/bg-x1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $bg-gradient, url(../images/desktop/bg-x2.jpg);
    }
  }
}

.hero__title {
  margin: 0 auto 30px auto;
  max-width: 360px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $color-txt-alternative;

  @media screen and (min-width: $desktop) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
