.page-header__wraper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav__list {
  display: flex;
}

.nav__item {
  & + & {
    margin-left: 50px;
  }
}

%header-link {
  font-weight: 500;
//   font-size: 14px;
  line-height: calc(16px / 14px);
  letter-spacing: 0.02em;
}

.nav__link {
  padding: 32px 0;

  @extend %header-link;

  color: $color-txt-title;

  transition: color $time-transition $cubic;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.nav__link--active {
  position: relative;
  color: $color-accent;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(1px);
    width: 100%;
    height: 4px;
    border: 2px;
    border-radius: 2px;
    background-color: $color-accent;
  }

  &:hover,
  &:focus {
    color: $color-txt-title;
  }
}

.page-header__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.page-header__item {
  & + & {
    margin-left: 50px;
  }
}

.page-header__link {
  display: flex;
  align-items: center;

  padding: 32px 0;

  @extend %header-link;

  color: $color-txt-main;

  transition: color $time-transition $cubic;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}
