.portfolio__list {
  display: flex;
  gap: $gap-carts;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: calc((100% - $gap-carts) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 2 * $gap-carts) / 3);
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  transition: box-shadow $time-transition $cubic;

  &:hover,
  &:focus {
    box-shadow: $shadow-portfolio;
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
  max-height: 294px;
}

.portfolio__img {
  max-width: 450px;
  width: 100%;
}

.portfolio__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 294px;
  height: 100%;

  background-color: $bg-color-overlay;

  transform: translateY(calc(101%));
  transition: transform $time-transition $cubic;

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}

.portfolio__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $color-txt-alternative;

  @media screen and (max-width: calc($mobile - 1px)) {
    font-size: 14px;
  }
}

.portfolio__box {
  padding: 20px 24px;

  flex-grow: 1;

  border-left: $border-portfolio;
  border-right: $border-portfolio;
  border-bottom: $border-portfolio;
}

.portfolio__caption {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $color-txt-title;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: $color-txt-main;
}
